{% extends 'base.html' %}


{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        To buy list table
      </div>
      <div class="col-6 text-end">
        <div class="d-flex justify-content-end">
          <a href="{% url 'app_to_buy_list:item-create' %}" class="btn btn-primary">Add item</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Item Type</th>
        </tr>
      </thead>
      <tbody>

        {% for item in item_list %}
        <tr>
          <td>
            {{ item.name }}
          </td>
          <td>
            {% if not item.discription %}
            -==-
            {% else %}
            {{ item.discription }}
            {% endif %}
          </td>
          <td>
            {{ item.price }}
          </td>
          <td>
            {{ item.item_type.name }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>

{% endblock content %}