<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Item Type</th>
      </tr>
    </thead>
    <tbody>
      
      {% for item in item_list %}
      <tr>
      <td>
        {{ item.name }}
      </td>
      <td>
        {% if not item.discription %}
          -==-
        {% else %}
          {{ item.discription }}
        {% endif %}
      </td>
      <td>
        {{ item.price }}
      </td>
      <td>
        {{ item.item_type.name }}
      </td>
    </tr>
      {% endfor %}
    </tbody>
</table>
<a type="button" href="{% url 'app_to_buy_list:index' %}">Home</a>

</body>

</html>